#about {
  margin: 30px 10px 30px 10px;
  font-size: 1.1rem;
  line-height: 1.5em;
  color: var(--theme-body-about-text);
}

.figure {
  position: relative;
}

.img--hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity .2s;
}

.img--hover:hover {
  opacity: 1;
}

.about__content--img {
  width: 50%;
  max-width: 200px;
  border: 3px solid white;
  border-radius: 50%;
  padding: 5px;
  margin: 0 60px 10px 0;
  float: left;
  shape-outside: circle(40%);
}

.about__content--img:hover {
  transform: scale(1.05);
}

.about__content--text {
  line-height: 1.7em;
  text-align: left;
  padding-left: 1rem;
}

.about__content--link {
  text-decoration: none;
  font-weight: bold;
  color: var(--theme-body-about-link);
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

.about__content--link:hover {
  color: var(--theme-body-about-link-hover);
}

@media (min-width: 700px) {
  #about {
    width: 70%;
    font-size: 1.2rem;
  }
}

@media (min-width: 1090px) {
  #about {
    width: 60%;
    font-size: 1.2rem;
    line-height: 2.6rem;
  }
}
