.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2 {
    background-color: #EFC3E6;
    width: 100%;
    font-family: 'Bodoni Moda', serif;
    font-style: italic;
    text-transform: lowercase;
}

#about {
    margin: 30px 10px 30px 10px;
    font-size: 1.1rem;
}

#about .img {
    width: 50%;
    max-width: 200px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 5px;
}

#portfolio .portfolio-images {
    width: 100%;
    border: 1px solid #424B54;
}

#portfolio .portfolio-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#portfolio .portfolio-container p {
    font-size: 1.1rem;
    margin: 5px 10px 30px 10px;
    justify-content: center;
}

#portfolio .portfolio-container a {
    text-decoration: none;
    color: #424B54;
}

#contact {
    width: 100%;
}

#contact ul {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;    
    margin: 0;
    padding: 0;
}
  
#contact li {
    display: block;
    list-style-type: none;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: auto;
    padding-right: auto; */
  }


#contact .icons {
    max-width: 50px;
}

.carousel-item {
    width: 50%;
}

@media (min-width: 760px) and (max-width: 1089px) {
    #about {
        width: 65%;
    }

    #portfolio {
        width: 65%;
    }

    #contact {
        width: 65%;
    }

    h2 {
        font-size: 1.8em;
    }
}

@media (min-width: 1090px) {
    #about {
        width: 60%;
    }

    #portfolio {
        width: 60%;
    }

    #contact {
        width: 60%;
    }

    h2 {
        font-size: 1.9em;
    }
};