.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.body__header {
  background-color: var(--theme-page-h2-subheader-bg);
  color: var(--theme-page-h2-subheader-font);
  width: 100%;
  font-family: "Arapey", serif;
  font-style: italic;
  text-transform: lowercase;
}

@media (min-width: 700px) {
  .body__header {
    font-size: 1.8em;
  }
}

@media (min-width: 1090px) {
  .body__header {
    font-size: 1.9em;
  }
}