.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

h2 {
    background-color: var(--theme-page-h2-subheader-bg);
    color: var(--theme-page-h2-subheader-font);
    width: 100%;
    font-family: 'Arapey', serif;
    font-style: italic;
    text-transform: lowercase;
}

#about {
    margin: 30px 10px 30px 10px;
    font-size: 1.1rem;
    line-height: 1.5em;
    color: var(--theme-body-about-text);
}

#about .img {
    width: 50%;
    max-width: 200px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 5px;
    cursor: cell;
}

#about .img:hover {
    transform: scale(1.1);
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about-content p {
    line-height: 1.7em;
    text-align: right;
}

#portfolio {
    width: 100%;
}

#portfolio .portfolio-images {
    width: 100%;
    border: 1px solid #424B54;
}

#portfolio .portfolio-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#skills {
    margin: 30px 10px 30px 10px;
    font-size: 1.1rem;
    line-height: 1.5em;
    color: var(--theme-body-about-text);
    width: 100%;
}

.skills-content {
    display: flex;
    justify-content: space-around;
    
}

/* .skills-content ul {
    background-color: deepskyblue;
} */

.skills-content h5 
{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    /* background-color: fuchsia; */
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.skills-content ul {
    /* background-color: indianred; */
    margin-top: 0;
}
.skills-content li {
    /* background-color: greenyellow; */
    text-align: left;
}

#contact {
    width: 100%;
}

#contact ul {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;    
    margin: 0;
    padding: 0;
}
  
#contact li {
    display: block;
    list-style-type: none;
    /* padding-top: 10px;
    padding-bottom: 10px;
    padding-left: auto;
    padding-right: auto; */
  }

.icons,
.icons a {
    font-size: 3rem;
    color:var(--theme-page-contact-icons);
    cursor: cell;
}

.icons a:hover {
    color: var(--theme-page-contact-icons-hover);
}


@media (min-width: 768px) and (max-width: 1089px) {
    #about {
        width: 70%;
        font-size: 1.2rem;
    }

    #portfolio, 
    #skills,
    #contact 
    {
        width: 70%;
    }

    h2 {
        font-size: 1.8em;
    }
}

@media (min-width: 1090px) {
    #about {
        width: 60%;
        font-size: 1.2rem;
        line-height: 2.6rem;
    }

    #portfolio,
    #skills,
    #contact {
        width: 60%;
    }

    h2 {
        font-size: 1.9em;
    }
};