.swiper-container {
  /* width: 480px; */
  width: 100% !important;
  border: 1px solid black;
}

.swiper-wrapper {
  padding-inline-start: 0;
  padding-bottom: 30px;
}

img {
    width: 100%;
}

h5 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 1rem;
  padding: 0 1rem 0 1rem;
}

h5 a {
  text-decoration: none;
  color: slateblue;
}

h5 a:hover {
  color: darkorchid;
}

.swiper-button-prev {
  color: #EFC3E6;
}

.swiper-button-next {
  color: #EFC3E6;
}

.swiper-pagination-bullet-active {
  background: #EFC3E6;
  opacity: 1;
  }
  
  


@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }

  h5 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
