.swiper-container {
  width: 100% !important;
  border: 1px solid black;
}

.swiper-wrapper {
  padding-inline-start: 0;
  padding-bottom: 20px;
}

img {
    width: 85%;
    border: 1px solid #1E2D24;
    margin-top: -1px;
}

/* .cardWrapper {
  background-color: #F0E6EF;
} */

.cardTextWrapper {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 0 1rem 0 1rem;
  color: var(--theme-swiper-font);
  margin: 15px;

}

.cardTextWrapper h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.cardTextWrapper h3 span {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

.cardTextWrapper p {
  font-weight: normal;
  font-size: 1em;
  text-align: left;
  line-height: 1.5em;
}

.cardTextWrapper a {
  text-decoration: none;
  font-weight: bold;
  color: var(--theme-swiper-link);
  font-size: 1.1em;
}

.cardTextWrapper a:hover {
  color: var(--theme-swiper-link-hover);
}

.swiper-button-prev {
  color: var(--theme-swiper-controls);
  margin-top: -100px;
}

.swiper-button-next {
  color: var(--theme-swiper-controls);
  margin-top: -100px;

}

.swiper-pagination-bullet {
  background: var(--theme-swiper-bullets);
  opacity: 1;
  }


.swiper-pagination-bullet-active {
  background: var(--theme-swiper-selected-bullet);
  opacity: 1;
  }
  
  


@media screen and (min-width: 600px) {
  .swiper-container {
    width: 640px;
  }

  .cardTextWrapper {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
