/* header styles*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  /*logo/h1 styles*/
  .logo {
    font-family: 'Bodoni Moda', serif;
    font-style: italic;
    font-size: 1.6em;
    text-transform: lowercase;
    margin-bottom: 0;
    width: 100%;
  }

/*logo in second font for emphasis*/
  .logo span {
    font-family: 'Montserrat', sans serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
  }

/*h2 text styles*/
  .h2 {
    font-family: 'Bodoni Moda', serif;
    font-size: 1.1rem;
    margin-top: -7px;
    margin-bottom: 10px;
  }


  #navbar {
    font-family:'Montserrat', sans serif;
    color: black;
    font-size: 1.1rem;
    padding: 0;
    width: 100%;
    padding: 0;
  }


  .nav {
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: auto;
    padding-right: auto;
    border-bottom: 1px solid #F0E6EF;
  }

  /* Style the navbar links */
  .header a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    text-decoration: none;
    color: #424B54;
  }