#portfolio .portfolio-images {
  width: 100%;
  border: 1px solid #424b54;
  object-fit: contain;
}

#portfolio .portfolio-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}