.footer {
    font-family: 'Montserrat', sans-serif;
    font-size: .6rem;
    text-transform: uppercase;
    color: var(--theme-footer-icons);
    margin-top: 50px;
}

.footer-text {
    margin: 0;
    color: var(--theme-footer-font)
}

.footer a {
    color: var(--theme-footer-font-hover);
    text-decoration: none;
}

@media (min-width: 760px) and (max-width: 1089px) {
    .footer {
        font-size: .8em;
    }
}

@media (min-width: 1090px) {
    .footer {
        font-size: .95em;
    }
}