.footer {
    font-family: 'Montserrat', sans-serif;
    font-size: .6rem;
    text-transform: uppercase;
    color: #424B54;
    margin-top: 50px;
}

.footer a {
    color: black;
    text-decoration: none;
}

@media (min-width: 760px) {
    .footer {
        font-size: .8em;
    }
}