@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@0;1&family=Poppins:wght@200;300&family=Domine:wght@400;500&family=Montserrat:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@1,400;1,800&family=Shrikhand&family=Trocchi&display=swap');
@import url('https://kit.fontawesome.com/d79a895327.js');

.App {
  text-align: center;
  margin: auto;
}

.swiper-container {
  width: 480px;
}

.swiper-wrapper {
  padding-inline-start: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
