@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Bodoni+Moda:ital@0;1&family=Poppins:wght@200;300&family=Domine:wght@400;500&family=Montserrat:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@1,400;1,800&family=Shrikhand&family=Trocchi&display=swap');
@import url('https://kit.fontawesome.com/d79a895327.js');

.pastel {
  --theme-page-background-left: #B8BEDD;
  --theme-page-background-right: #F0E6EF;
  --theme-page-h2-subheader-bg: #EFC3E6;
  --theme-page-h2-subheader-font: black;
  --theme-page-contact-icons: black;
  --theme-page-contact-icons-hover: #424B54;
  --theme-header-logo: black;
  --theme-header-logo-span: #1E2D24;
  --theme-header-navbar: black;
  --theme-header-navbar-hover: #1E2D24;
  --theme-body-about-text: black;
  --theme-body-about-link: #061035;
  --theme-body-about-link-hover: #1E2D24;
  --theme-footer-font: #1E2D24;
  --theme-footer-font-hover: black;
  --theme-swiper-font: black;
  --theme-swiper-link: #061035;
  --theme-swiper-link-hover: #F0E6EF;
  --theme-swiper-controls: #2e313f;
  --theme-swiper-selected-bullet: white;
  --theme-swiper-bullets: #424B54;
  --theme-toggle: slateblue!important;
  --skill-icon: #1E2D24;
}

.neon {
  --theme-page-background-left: #1d1218;
  --theme-page-background-right: #414040;
  --theme-page-h2-subheader-bg: #87257f;
  --theme-page-h2-subheader-font: white;
  --theme-page-contact-icons: #dddddd;
  --theme-page-contact-icons-hover: #FBFF12;
  --theme-header-logo: #FBFF12;
  --theme-header-logo-span: #41EAD4;
  --theme-header-navbar: white;
  --theme-header-navbar-hover: #FBFF12;
  --theme-body-about-text: white;
  --theme-body-about-link: #03EFE9;
  --theme-body-about-link-hover: #ddb0ff;
  --theme-footer-font: white;
  --theme-footer-font-hover: #ddb0ff;
  --theme-swiper-font: white;
  --theme-swiper-link: #03EFE9;
  --theme-swiper-link-hover: #414040;
  --theme-swiper-controls: #dddddd;
  --theme-swiper-selected-bullet: #FBFF12;
  --theme-swiper-bullets: #dddddd;
  --theme-toggle: #F96707!important;
  --skill-icon: #dddddd;
}

:root {
  margin: 0;
}

body {
  margin: 0;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  min-height: 100vh;
}

.site-content {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.body__header {
  background-color: var(--theme-page-h2-subheader-bg);
  color: var(--theme-page-h2-subheader-font);
  width: 100%;
  font-family: "Arapey", serif;
  font-style: italic;
  text-transform: lowercase;
  padding: 1px;
}

#about,
#portfolio,
#skills,
#contact {
  /* margin: 30px 10px 30px 10px; */
  font-size: 1.1rem;
  line-height: 1.5em;
  color: var(--theme-body-about-text);
  width: 100%;
}

@media (min-width: 700px) {
  .body__header {
    font-size: 1.8em;
  }

  #about,
  #portfolio,
  #skills,
  #contact {
    width: 70%;
    font-size: 1.2rem;
  }
}

@media (min-width: 1090px) {
  .body__header {
    font-size: 1.9em;
  }

  #about,
  #portfolio,
  #skills,
  #contact {
    width: 60%;
    font-size: 1.2rem;
    line-height: 2.6rem;
  }
}